@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --profile-primary-color: #007bff;
  --profile-danger-color: #dc3545;
  --profile-light-gray-color: #f8f9fa;
  --profile-border-color: #dee2e6;
  --profile-text-color: #495057;
  --profile-text-color-dark: #212529;
}

.profileContainer {
  display: flex;
  height: 115vh;
  width: 95%;
  margin-left: 2rem;
  font-family: "Inter", sans-serif;
  height: 100%;
}

/* --- Barra Lateral --- */
.profileSidebar {
  width: 250px;
  background-color: var(--profile-light-gray-color);
  padding: 2rem 0;
  border-right: 1px solid var(--profile-border-color);
  flex-shrink: 0;
}

.profileSidebarNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profileSidebarNav li button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.75rem 2rem;
  text-decoration: none;
  color: var(--profile-text-color);
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.profileSidebarNav li button:hover {
  background-color: #e9ecef;
}

.profileNavActive button {
  color: var(--profile-text-color-dark);
  font-weight: 700;
}
