.modal-content {
    left: 50%;
    transform: translate(-50%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(139, 92, 246, 0.3);
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(139, 92, 246, 0.5);
    padding: 1.5rem;
    color: black !important;
    width: 60vw !important;
    max-width: none;
}

.breadcrumb-container {
  position: relative;
}


.breadcrumb-no-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 25px;
  width: 100%;

}

.breadcrumb-item {
  display: inline-block;
  margin-right: 8px;
}



.product-title{
    margin-top: 50px;
}