/* Garantir que o modal fique acima de tudo */
.custom-order-modal .modal-dialog {
  z-index: 1060;
}

.modal-backdrop {
  z-index: 1050;
}

/* Se o navbar for fixo, ajuste o z-index para ser menor que o modal */
.admin-navbar {
  z-index: 1030;
}

.modal-content {
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(to bottom right,
            rgba(31, 41, 55, 0.9),
            rgba(17, 24, 39, 0.9));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(139, 92, 246, 0.3);
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(139, 92, 246, 0.5);
    padding: 1.5rem;
    color: white;
    width: 50vw !important;
    max-width: none;
}

.modal-header {
    border: none;
    padding: 0 0 0.5rem 0;
}

.modal-title {
    color: #a78bfa;
}

.modal-body {
    padding: 1.5rem 0;

}

.modal-footer {
    border: none;
    padding: 0.5rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.modal-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.modal-button--cancel {
    background: rgba(31, 41, 55, 0.5);
    border: 1px solid rgba(139, 92, 246, 0.3);
    color: white;
}

.modal-button--confirm {
    background: rgba(225, 29, 72, 0.5);
    border: 1px solid rgba(225, 29, 72, 0.3);
    color: #fda4af;
    font-weight: bold;
}