.randomizerSection {
  padding: 4rem 1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "Press Start 2P", system-ui;
}

.randomizerTitle {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.randomizerSubtitle {
  font-size: 1rem;
  font-weight: normal;
  color: #d1d5db;
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btnRandomizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnRandomize {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
  font-size: 0.9rem;
}

.btnRandomize:hover {
  background: linear-gradient(to right, #2563eb, #7c3aed);
}

.textCenter {
  text-align: center;
}

.mt4 {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .randomizerTitle {
    font-size: 1.25rem;
  }
}
