.randomizer-section {
  padding: 4rem 1rem;
  /* background: linear-gradient(to bottom, #be185d, #6b21a8, #1e3a8a); */
  opacity: calc();
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: "Press Start 2P", system-ui;
}

/* .product-grid-title {
  font-size: 2.125rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}
  */

.randomizer-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.randomizer-subtitle {
  font-size: 1rem;
  font-weight: normal;
  color: #d1d5db;
}

.btn-group {
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.btn-randomizer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-randomize {
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
  font-size: 0.9rem !important;
}

.btn-randomize:hover {
  background: linear-gradient(to right, #2563eb, #7c3aed);
}

@media (max-width: 767px) {
  .randomizer-title {
    font-size: 1.25rem;
  }
}
